<!DOCTYPE HTML>
<html>
	<head>
		<title>Wisque - find parties everywhere!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css"/>
	</head>
	<body class="landing">

		<header id="header" class="alt">
			<h1><strong><a href="index.html">Wisque</a></strong></h1>
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#download">Download</a></li>
				</ul>
			</nav>
		</header>

		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<section id="banner">
			<video id="sampleMovie" width="83.3%" height="100%" loop muted autoplay>
				<source src="videos/preview.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
			</video>
			<div class="video-text">
				<h2>Party Finder</h2>
				<p class="video-about">Find parties near you for free! <br/> Works everywhere!</p>
				<ul class="actions fit">
					<li><a href="#" class="button special small">Get Started</a></li>
				</ul>
			</div>
		</section>

		<section id="one" class="wrapper style1">
			<div class="container 75%">
				<div class="row 200%">
					<div class="6u 12u$(medium)">
						<header class="major">
							<h2>What is it?</h2>
							<p>Wisque made for organize parties or find it!</p>
						</header>
					</div>
					<div class="6u$ 12u$(medium)">
						<p>Do you like to have fun? We are. Using party finder you can easy find parties in your city or
							near you. It's simple, really. Or..</p>
						<p>Don't want to going at party? Just make it by yourself! You can freely organize your parties
							in a few click. Just select place and what peaple you want to find! Try it!</p>
					</div>
				</div>
			</div>
		</section>

		<div class="overlay" id="download">
			<div class="devices">
				<div style="align-self: flex-end;" class="download-buttons">
					<a href="#" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
					<a href="#">
						<img src="http://msqrd.me/img/google-play.png" width="135" height="40" alt="">
					</a>
				</div>
			</div>
		</div>

		<section id="features" class="wrapper style1" style="margin-top: 130px;">
			<div class="container">
				<header class="major special">
					<h2>Our features</h2>
					<p>Why I gonna use it right now?</p>
				</header>
				<div class="feature-grid">
					<div class="feature">
						<div class="image rounded"><img src="assets/images/pic04.jpg" alt=""/></div>
						<div class="content">
							<header>
								<h4>Lorem ipsum</h4>
								<p>Lorem ipsum dolor sit</p>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium
								porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
						</div>
					</div>
					<div class="feature">
						<div class="image rounded"><img src="assets/images/pic05.jpg" alt=""/></div>
						<div class="content">
							<header>
								<h4>Recusandae nemo</h4>
								<p>Ratione maiores a, commodi</p>
							</header>
							<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga
								maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
						</div>
					</div>
					<div class="feature">
						<div class="image rounded"><img src="assets/images/pic06.jpg" alt=""/></div>
						<div class="content">
							<header>
								<h4>Laudantium fugit</h4>
								<p>Possimus ex reprehenderit eaque</p>
							</header>
							<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam
								neque mollitia vitae omnis, ea natus facere.</p>
						</div>
					</div>
					<div class="feature">
						<div class="image rounded"><img src="assets/images/pic07.jpg" alt=""/></div>
						<div class="content">
							<header>
								<h4>Porro aliquam</h4>
								<p>Quaerat, excepturi eveniet laboriosam</p>
							</header>
							<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure
								similique obcaecati aut corporis hic in! Porro sed.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="four" class="wrapper style3 special">
			<div class="container">
				<header class="major">
					<h2>Still have no fun?</h2>
					<p>Start use it for free!</p>
				</header>
				<ul class="actions">
					<li><a href="#" class="button special big">Get the app</a></li>
				</ul>
			</div>
		</section>

		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"></a></li>
					<li><a href="#" class="icon fa-twitter"></a></li>
					<li><a href="#" class="icon fa-instagram"></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Wisque</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					<li>2016</li>
				</ul>
			</div>
		</footer>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>